.hi{
color: brown;
text-align: center;
}

.background-home{
    width: 100%;
    height: 100%;
}

.header{
    position: relative;
    bottom: 200px;

}
.details{
    position: relative;
    bottom: 200px;
}
.text-1{
text-align: center;
color: white;
font-size: 20px;
}
.text-2{
    text-align: center;
    color: white;
    font-size: 40px;
}
.text-3{
color:white;
text-align: center;
}
.btn-book{
    position: relative;
    margin: 60px;
   left: 250px;
}

.chef-info{
    display: flex;
    background-color: antiquewhite;
}
.chef-img{
    height: 400px;
    width: 400px;
}
.chef-details{
    position: relative;
    margin-top: 50px;
    
}

/* .chef-recipe-catagories{

    display: grid;
    grid-template-columns: repeat(2,2fr);
} */


.recipes-info{
 display: flex;   
}

.chef-recipe-image{
    height: 286px;
    width: 300px;
}

.recipe-text{
    text-align: center;
    color: orange;
}
.recipe-1{
    display: flex;

}
.recipe-2{
    display: flex;
}

/* testimonial*/
.testimonial{
    display: flex;
}
.testimony-1{
    display: flex;
    margin: 10px;
}
.happy-customer{
    height: 80px;
    width: auto;
}
.testimonial-text{
    text-align: center;
    color:orange;
}