.form{
    position: relative;
    bottom: 180px;
    margin-left: 90px;
    
}
.form-container{
    width: 200px;
    height: 250px;
    margin: 1px auto;
    
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
    left: 40px;
    border: 2px solid black;
    background-color: azure;
}