.foot-data{
    background-color: black;
    display: flex;
    gap: 20px;
}
.footer-text{
    color: white   ;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
      font-size: 12px;
    letter-spacing: 0.0025em;
   
    text-align: center;
}

.ico-all{
  position: relative;
  top: 30px;
  
}
.ico{
  height: 30px;
  position: relative;
  gap:30px;
  width: auto;
  
}



