.foot-data{
    background-color: black;
    display: flex;
}
.footer-text{
    color: white   ;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
      font-size: 12px;
    letter-spacing: 0.0025em;
   
    text-align: center;
}



