.heading-ques{
    text-align: center;
    color: blueviolet;
    text-decoration: underline;
}
.ans{
    background-color: antiquewhite;
    margin: 50px;
    padding: 50px;
   position: relative;
   bottom: 30px;
}
.api{
    text-decoration: underline;
    font-size: 15px;
    font-weight: bold;
}
.question-1{
display: flex;
gap: 10px;
border: 2px solid rgb(116, 114, 114);
}
.ans{
    text-align: left;
    
}

@media screen and (max-width:768px){
    .question-1{
        
        display: flex;
       gap: 5px;
     border: 2px solid rgb(116, 114, 114);
    }
  }